@media (max-width:599px) {
    ul{
        display:none;
    }
    .pull-right{
        width: 96%;
        margin: 0.5%;
    }
}

.icon-menu:hover + ul{
    display: block;
}

.icon-menu:hover + ul > li{
    display: block;
    margin-left: -10%;
    margin-bottom: 4%;
}

@media (min-width:600px){
    .icon-menu{
        display:none;
    }
    nav > ul > li{
        border-bottom: none;
        display: inline;
    }
    .pull-right{
        float: right;
    }
}